@model IEnumerable<CareerHub.Models.Language>

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();

    int page = 1;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        page = pager.CurrentPage;
    }

    LanguagesSearchViewModel viewModel = new LanguagesSearchViewModel();

    if(ViewBag.LanguagesSearchViewModel != null)
    {
        viewModel = ViewBag.LanguagesSearchViewModel;
    }
}

<head>
    <link href="~/css/crud_table.css" rel="stylesheet" asp-append-version="true">
</head>

<body>
    <div class="container mt-4">

        <!-- Deletion Confirm Modal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="confirmModalLabel">Confirm Deletion</h4>
                        <button type="button" class="close cancelDelete" aria-label="Close">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the selected languages?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                        <button type="button" class="btn btn-secondary cancelDelete" id="cancelDelete">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-container">

            <!-- Header -->
            <div class="table-header d-flex justify-content-between align-items-center">

                <h2>Languages Management</h2>

                <div class="d-flex">

                    <a class="btn btn-secondary-custom me-3"
                            data-bs-toggle="collapse"
                            data-bs-target="#searchContainer"
                            aria-expanded="false"
                            aria-controls="searchContainer">
                        <i class="fa fa-filter"></i> 
                        <span class="d-none d-md-inline ms-2">Search</span>
                    </a>

                    <a id="deleteSelected" data-delete-url="@Url.Action("DeleteSelected", "Languages")" class="btn btn-danger-custom me-3">
                        <i class="fa-solid fa-xmark"></i>
                        <span class="d-none d-md-inline ms-2">Delete Selected</span>
                    </a>

                    <a asp-action="Create" class="btn btn-primary-custom">
                        <i class="fas fa-plus"></i>
                        <span class="d-none d-md-inline ms-2">Add Item</span>
                    </a>
                </div>
                
            </div>

            <!-- Search -->
            <div id="searchContainer" class="@(viewModel.CancelSearch ? "" : "collapse")" show)">
                <form id="searchForm" 
                      asp-action="Index" 
                      asp-route-page="1"
                      asp-route-pageSize="@pager.PageSize"
                      asp-route-sortBy="@pager.SortingParameter"
                      asp-route-isDescending="@pager.IsDescending"
                      class="me-3 mt-3 mb-3 d-flex justify-content-end">
                    <div class="input-group" style="max-width: 350px;">
                        <input type="text" name="name" class="form-control" value="@viewModel.Name" placeholder="Search by name..." />
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <a asp-action="Index"
                       asp-route-page="1"
                       asp-route-pageSize="@pager.PageSize"
                       asp-route-sortBy="@pager.SortingParameter"
                       asp-route-isDescending="@pager.IsDescending"
                       asp-route-name=""
                       class="btn @(viewModel.CancelSearch ? "" : "d-none") btn-warning-custom ms-3">
                        <i class="fa fa-trash"></i>
                        <span class="d-none d-md-inline ms-2">Clear Filter</span>
                    </a>
                </form>
            </div>

            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll" name="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-page="@pager.CurrentPage"
                                   asp-route-pageSize="@pager.PageSize"
                                   asp-route-sortBy="id"
                                   asp-route-isDescending="@(pager.SortingParameter == "id" ? !pager.IsDescending : false)"
                                   asp-route-name="@viewModel.Name">
                                    Id
                                </a>

                                <i class="fa @(pager.SortingParameter != "id" ? "invisible" : "") @(pager.IsDescending ? "fa-caret-down" : "fa-caret-up")" aria-hidden="true"></i>

                            </th>
                            <th>
                                <a asp-action="Index"
                                   asp-route-page="@pager.CurrentPage"
                                   asp-route-pageSize="@pager.PageSize"
                                   asp-route-sortBy="name"
                                   asp-route-isDescending="@(pager.SortingParameter == "name" ? !pager.IsDescending : false)"
                                   asp-route-name="@viewModel.Name">
                                    Name
                                </a>

                                <i class="fa @(pager.SortingParameter != "name" ? "invisible" : "") @(pager.IsDescending ? "fa-caret-down" : "fa-caret-up")" aria-hidden="true"></i>

                            </th>

                            <th>Logo</th>

                            <th>
                                <div class="pageSizeOptions d-flex justify-content-end align-items-center gap-2">
                                    <label for="pageSizeSelector">
                                        Items per page
                                    </label>

                                    <form
                                          asp-action="Index"
                                          asp-route-page="1"
                                          asp-route-sortBy="@pager.SortingParameter"
                                          asp-route-isDescending="@pager.IsDescending"
                                          asp-route-name="@viewModel.Name">
                                        <select name="pageSize" id="pageSizeSelector" class="form-control form-select-sm text-end" style="width: auto;" onchange="this.form.submit()">

                                            @foreach (var item in pager.PageSizeOptions)
                                            {
                                                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                                            }

                                        </select>
                                    </form>
                                </div>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="link-row" data-href="@Url.Action("Details", "Languages", new { id = item.Id })">

                                <td>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" id="checkbox-@item.Id" name="checkbox" value="@item.Id">
                                        <label for="checkbox-@item.Id"></label>
                                    </span>
                                </td>

                                <td>
                                    <div style="font-weight: 1000">@Html.DisplayFor(modelItem => item.Id)</div>
                                </td>

                                <td>
                                    <div style="font-weight: 500;">@Html.DisplayFor(modelItem => item.Name)</div>
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.LogoPath))
                                    {
                                        <img src="@item.LogoPath" alt="@item.Name Logo" width="75" />
                                    }
                                </td>

                                <td class="text-end">
                                    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-end gap-2">
                                        <a asp-action="Details" asp-route-id="@item.Id" Details class="btn btn-action btn-details" title="Details">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-action btn-edit" title="Edit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-action btn-delete" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="d-flex justify-content-between align-items-center p-3">
                <div class="text-muted">
                    Showing items <strong>@(pager.StartItemsShowing)</strong> to <strong>@(pager.EndItemsShowing)</strong> out of <strong>@(pager.TotalItems)</strong> items
                </div>
                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination pagination-modern mb-0">

                        @if (pager.CurrentPage > pager.StartPage)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-page="1"
                                   asp-route-pageSize="@pager.PageSize"
                                   asp-route-sortBy="@pager.SortingParameter"
                                   asp-route-isDescending="@pager.IsDescending"
                                   asp-route-name="@viewModel.Name">
                                    First
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-page="@pager.CurrentPage - 1"
                                   asp-route-pageSize="@pager.PageSize"
                                   asp-route-sortBy="@pager.SortingParameter"
                                   asp-route-isDescending="@pager.IsDescending"
                                   asp-route-name="@viewModel.Name">
                                    Previous
                                </a>
                            </li>
                        }

                        @for (int pg = pager.StartPage; pg <= pager.EndPage; pg++)
                        {
                            <li class="page-item @(pg == pager.CurrentPage ? "active" : "")">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-page="@pg"
                                   asp-route-pageSize="@pager.PageSize"
                                   asp-route-sortBy="@pager.SortingParameter"
                                   asp-route-isDescending="@pager.IsDescending"
                                   asp-route-name="@viewModel.Name">
                                    @pg
                                </a>
                            </li>
                        }

                        @if (pager.CurrentPage < pager.EndPage)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-page="@(pager.CurrentPage + 1)"
                                   asp-route-pageSize="@pager.PageSize"
                                   asp-route-sortBy="@pager.SortingParameter"
                                   asp-route-isDescending="@pager.IsDescending"
                                   asp-route-name="@viewModel.Name">
                                    Next
                                </a>
                            </li>

                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-route-page="@pager.TotalPages"
                                   asp-route-pageSize="@pager.PageSize"
                                   asp-route-sortBy="@pager.SortingParameter"
                                   asp-route-isDescending="@pager.IsDescending"
                                   asp-route-name="@viewModel.Name">
                                    Last
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="@Url.Content("~/js/crud_table.js")"></script>
</body>
