@model CareerHub.Models.JobApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPosition.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverLetterPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverLetterPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmitedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmitedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
